.mainDiv {
    margin-top: 10.5rem;
    background-image: url('images/bg01.jpg');
    border: 2px solid #e6e6e6;
    border-radius: 5px;
}

li {
    width: 200px;
    border: 1px solid black;
    /* float: left; */
    /* position: relative; */
  }
